
{% extends "blog_app/base.html" %}
{% block content %}
	
<p> text text text text text text text text text text text text text text text text text text 
text text text text text text text text text text text text text text text text text text 
text text text text text text text text text text text text text text text text text text 
text text text text text text text text text text text text text text text text text text 
text text text text text text text text text text text text text text text text text text text text text 
text text text </p>
{% endblock content %}
{% block cat_index %}{% endblock cat_index %}