<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog_app/style.css' %}" />
</head>

<body>
	<div class="wrapper">
	    <div class="nav">
	        {% block navbar %}
	        	{% include "blog_app/nav.html" %}
	        {% endblock navbar %}
	    </div>
	
	     <div class="content">
	        {% block content %}{% endblock content %}
	    </div>
	    
	    <div class="sidebar">
	    	{% block cat_index %}
	    		{% include "blog_app/cat_index.html" %}
	    	{% endblock cat_index %}
	    </div>
	    
	    <div class="footer">
	    	{% block footer %}
	    		{% include "blog_app/footer.html" %}
	    	{% endblock footer %}
	    </div>
    </div>
</body>
</html>